.mustache {
   left: 100px;  
   width: 180px;
   height: 180px;
   border-radius: 50%;
   position: absolute;
   color: black;
   box-shadow: 
    150px 240px 0 0 currentColor,
    300px 240px 0 0 currentColor; 
}

.mustache::before {
   border-radius: 0 0 0 100%; 
   content: "";
   left: 30px;
   top: 120px;
   position: absolute;
   border-bottom: solid 180px currentColor;
   width: 210px;
   height: 120px;  
   transform: rotate(-40deg);  
   transform-origin: right 210px;
}

.mustache::after {
    border-radius: 0 0 100% 0 ; 
    content: "";
    left: 390px;
    top: 120px;
    position: absolute;
    border-bottom: solid 180px currentColor;
    width: 210px;
    height: 120px;  
    transform: rotate(40deg);  
    transform-origin: left 210px;
 }